<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale= 1.0, minimun-scale= 1.0, user-scalable=1">
		<title></title>
		<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="libs/css/common.min.css" />
		<link rel="stylesheet" href="libs/css/login.css" />
		<link rel="stylesheet" href="libs/jquery-confirm/jquery-confirm.css">
		<script src="libs/angular.min.js"></script>
		<script src="libs/jquery/jquery-2.1.1.min.js"></script>
		<script src="libs/jquery-confirm/jquery-confirm.js"></script>
		<script src="libs/js/login.js"></script>
		<script src="libs/js/common.js"></script>
		<script src="libs/js/commonbaseurl.js"></script>
	</head>
	<body ng-app='mainapp' ng-controller='maincontroller'>
		<div class="header"><span>登录</span><i class="fa fa-list-ul" id="list-ul"></i></div>
		<div class="content">
			<ul>
				<li class="item-relative1"><input type="text" placeholder="国家编码" name="code"  ></li>
	            <li class="item-relative2"><input type="tel" placeholder="输入手机号码" name="account" ng-model='telphone'></li>
	        </ul>
	        <ul>
	        	<li class="item-relative3"><input type="password" placeholder="输入密码" id="reg_password" name="password" ng-model='password'></li>
			</ul>
			<ul>
				<li class="btn item-relative" ng-click='click1()'><div class="loginin">登录</div></li>
			</ul>
			<ul>
	            <li class="wjmm" ng-click='click2()'><div>注册</div></li>
	        </ul>
		</div>
		
		<div class="navmorelist" id="navmorelist">
			<ul class="f14">
				<li><a href="index.html">首页</a></li>
				<li><a href="xiangqing.html">分类查询</a></li>
				<li><a href="shopcar.html">购 物 车</a></li>
				<li><a href="#">会员中心</a></li>
			</ul>
		</div>
		
	</body>
	<script>
		var mainapp=angular.module('mainapp',['commonApp']);
			mainapp.controller('maincontroller',['$scope','$http',function($scope,$http){
				$scope.click1=function(){
					$http.post(baseurl+"xnxm/libs/PHP/login.php",{
						telphone:$scope.telphone,
						password:$scope.password
					}).success(function(response){
						if(response.state){
							var re=response.message[0].username;
							window.location.href = 'index.html'+"?"+"username="+re;							
						}else{
							$.alert(response.message);
						}
					})
				}
				$scope.click2=function(){
					window.location.href='register.html';
				}
				
				
			}])
	</script>
</html>
